/* styles.css */

* {
  box-sizing: border-box;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.logo {
  width: 300px;
  height: 300px;
  border: 2px solid gray;
}

.page-title {
  text-align: center;
  font-family: "Times New Roman", serif;
}

.main-title.page-title {
  color: white;
  background-color: black;
  font-weight: bold;
  padding: 10px;
  border: 2px solid grey;
}

#black-bar {
  color: black;
}

.nav-list {
  height: 40px;
  width: 150px;
}